@model MvcAdminCv.Models.Entity.Tbl_Sertifikalarım
@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Sertifika Ekleme Sayfası</h2>

<form method="post">

    @Html.Label("Açıklamas")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />



    <button class="btn btn-primary">Ekle</button>
</form>


